<template>
  <div class="center">
    <search-{{api}} @onRefresh="refreshTable" @onSearch="refreshTable" />
    <el-row>
      <el-button type="primary" size="mini" @click="add{{Api}}">{{ $t('form.new') }}</el-button>
      <el-button type="danger" size="mini" @click="delete{{Api}}">{{ $t('form.delete') }}</el-button>
    </el-row>
    <el-table @selection-change="selectTable" border v-loading="loading" :data="tableData" stripe style="width: 100%">
      <el-table-column type="index" width="50" label="序号" />
      <el-table-column type="selection" width="55" />
      {{#each form}}
      <el-table-column prop="{{this.key}}" label="{{this.label}}" width="180"> </el-table-column>
      {{/each}}
      <el-table-column fixed="right" label="操作" width="250">
        <template slot-scope="scope">
          <el-button @click="showEdit(scope.row)" type="primary" size="mini">{{ $t('form.edit') }}</el-button>
          <el-button type="danger" size="mini" @click="delete{{Api}}(scope.row)">{{ $t('form.delete') }}</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="selectSizeChange"
      @current-change="selectCurrentChange"
      :current-page.sync="searchParams.page"
      :page-sizes="[2, 10, 20, 40]"
      :page-size="searchParams.pageSize"
      layout="total,sizes, prev, pager, next"
      :total="tableDataSize"
    >
    </el-pagination>
    <edit-{{api}} ref="edit{{Api}}" @Submit="submit" />
  </div>
</template>
<script>
import {{api}}Api from './{{api}}'
import Edit{{Api}} from './component/edit-{{api}}.vue'
import Search{{Api}} from './component/search-{{api}}.vue'
import { $Loading } from '@/utils'

export default {
  components: { Edit{{Api}}, Search{{Api}} },
  data() {
    return {
      tableData: [],
      tableDataSize: 0,
      searchParams: {
        page: 1,
        pageSize: 2,
        sort: 'DESC',
        sortKey: 'id',
      },
      selectTableData: [], //选中后的
      syncData: [],
      loading: false
    }
  },
  mounted() {
    this.loading = true
    this.refreshTable()
  },
  methods: {
    selectSizeChange(val) {
      this.searchParams.pageSize = val
      this.refreshTable()
    },
    selectCurrentChange(val) {
      this.refreshTable()
    },
    //选中行
    selectTable(val) {
      this.selectTableData = val
    },
    showEdit(item) {
      //获取权限
      //   const loading = $Loading()
      this.$refs.edit{{Api}}.showEdit(item)
    },
    add{{Api}}() {
      this.$refs.edit{{Api}}.showEdit()
    },
    refreshTable(params) {
      if (!params) params = this.searchParams
      this.searchParams = { ...params }
      this.tableData = []
      this.selectTableData = []
      this.loading = true
      {{api}}Api
        .Post{{Api}}Get{{Api}}All(params)
        .then((res) => {
          const { data } = res
          this.tableData = data.data.list
          this.tableDataSize = data.data.size
          this.loading = false
        })
        .catch((e) => {
          console.log(e)
          this.loading = false
        })
    },
    submit({ form, {{api}}All }) {
      const loading = $Loading()
      {{api}}Api
        .Post{{Api}}Save{{Api}}(form)
        .then((res) => {
          const { data } = res
          if (data.code === 200) {
            this.$refs.edit{{Api}}.closeDialog()
            this.$message.success(data.msg)
          } else this.$message.error(data.msg)
          loading.close()
          this.refreshTable()
        })
        .catch((e) => {
          this.$message.error(String(e))
          loading.close()
          this.$refs.edit{{Api}}.closeDialog()
        })
    },
    delete{{Api}}(row) {
      //批量删除-单个删除
      let params = {}
      if (!row.id) {
        //多个删除
        if (this.selectTableData.length > 0) {
          params.{{api}}Ids = this.selectTableData.map((item) => item.id)
        } else {
          this.$message.warning('未选择行!')
        }
      } else {
        //单个删除
        params.{{api}}Ids = [row.id]
      }
      this.$confirm('确认删除用户, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      })
        .then(() => {
          {{api}}Api
            .Post{{Api}}Delete{{Api}}({ ...params })
            .then((res) => {
              const { data } = res
              this.refreshTable()
              if (data.code === 200) this.$message.success(data.msg)
            })
            .catch((e) => {
              console.log(e)
              this.$message.error(String(e))
            })
        })
        .catch(() => {})
    }
  }
}
</script>
<style scoped lang="scss">
.el-table {
  margin-top: 20px;
  margin-bottom: 20px;
  height: calc(100vh - 360px);
}
</style>
